.filter {
	&__inner {
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__list {
		margin: 0;
		margin-top: 40px;
		margin-bottom: 35px;
		padding: 0;
		display: flex;

		list-style-type: none;
	}

	&__item {
		margin-right: 35px;
		width: 45px;
		height: 45px;

		background-color: @red;

		&:last-child {
			margin-right: 0;
		}
	}

	&__range {
		margin-bottom: 35px;
		width: 240px;
		height: 2px;
		position: relative;

		background-color: @darkblue;

		&::after {
			content: '';
			position: absolute;
			top: -6.5px;
			left: 200px;

			width: 15px;
			height: 15px;

			border-radius: 50%;
			border: 2px solid @red;
			background-color: #f2f2f2;
			box-sizing: border-box;
		}
	}

	&__buttons {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
	}

	&__button-post {
		margin-bottom: 10px;
	}

	&__button-cancel {
		margin-bottom: 0;
	}
}