.contacts {
	background-color: #ffffff;
}

.contacts__inner {
	padding-top: 45px;
	padding-bottom: 75px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__title {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;

	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

.contacts__group {
	display: flex;
	flex-direction: column;
}

.contacts__group-item {
	margin-bottom: 20px;

	font-style: normal;
	text-align: center;
}

.contacts__group-item:last-child {
	margin-bottom: 0;
	max-width: 240px;
}

.contacts__item-title {
	display: block;
	
	font-size: 18px;
	font-weight: 700;
}

.contacts__title::selection,
.contacts__item-title::selection,
.contacts__link::selection {
	color: #ffffff;

	background-color: @darkblue;
}

.contacts__link {
	font-size: 24px;
	font-weight: 300;
	color: @red;
	text-decoration: none;

	outline: none;
	transition-property: color;
	transition-duration: @main-duration;
}

.contacts__link:visited {
	color: @red;
}

.contacts__link:hover,
.contacts__link:focus {
	color: @darkblue;
}

.contacts__link--email:hover {
	text-decoration: underline;
}

.contacts__link:active {
	color: rgba(40, 54, 69, 0.3);
	text-decoration: none;
}

.contacts__map {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 190px;
	position: relative;
}

.contacts__map-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;

	object-fit: cover;
}

@media (min-width: @tablet-screen) {
	.contacts__inner {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.contacts__title {
		margin-bottom: 50px;
		max-width: 550px;

		font-size: 40px;
	}

	.contacts__group {
		max-width: 550px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.contacts__group-item {
		margin-bottom: 45px;
	}

	.contacts__group-item:last-child {
		margin: 0 auto;
	}

	.contacts__map {
		min-height: 375px;
	}
}

@media (min-width: @desktop-screen) {
	.contacts__inner {
		padding-top: 70px;
		padding-bottom: 120px;
	}

	.contacts__title {
		margin-bottom: 50px;
		max-width: 480px;

		font-size: 50px;
	}

	.contacts__group {
		margin-bottom: 0px;
		min-width: 880px;
	}

	.contacts__group-item {
		margin-bottom: 0px;
	}

	.contacts__group-item--email {
		order: 1;
	}

	.contacts__map {
		min-height: 500px;
	}
}