section.contacts
  div.container
    div.contacts__wrapper
      h2.visually-hidden Контакты
      p.contacts__title Остались вопросы? Свяжитесь с нами!
      .contacts__group
        address.contacts__group-item
          span.contacts__item-title Звоните
          a.contacts__link(href='tel:+7(812)555-66-66') +7 (812) 555-66-66
        address.contacts__group-item.contacts__group-item--email
          span.contacts__item-title Пишите:
          a.contacts__link.contacts__link--email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru
        address.contacts__group-item
          span.contacts__item-title Приезжайте в гости:
          a.contacts__link(href='#') ул. Большая Конюшенная, 19/8
  div.contacts__map
    svg#bg-triangle-white-footer.contacts__triangle(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve')
      polygon(fill='#ffffff' points='297.64,61.905 0,0 595.28,0 ')
