section.contacts
  div.container
    div.contacts__inner
      h2.visually-hidden Контакты
      p.contacts__title Остались вопросы? Свяжитесь с нами!
      .contacts__group
        address.contacts__group-item
          span.contacts__item-title Звоните
          a.contacts__link(href='tel:+7(812)555-66-66') +7 (812) 555-66-66
        address.contacts__group-item.contacts__group-item--email
          span.contacts__item-title Пишите:
          a.contacts__link.contacts__link--email(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru
        address.contacts__group-item
          span.contacts__item-title Приезжайте в гости:
          a.contacts__link(href='#') ул. Большая Конюшенная, 19/8
  div.contacts__map
    img.contacts__map-image(src="blocks/contacts/img/map.jpg" width="1422" height="746" alt="Наш адрес")