.price {
	background-color: #ffffff;
	background-image: url(blocks/price/img/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.price__inner {
	padding-top: 90px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
}

.price__slider {
	margin-top: 40px;
}

@media (min-width: @tablet-screen) {
	.price__slider {
		display: none;
	}
	
	.price__inner {
		padding-bottom: 70px;
	}
}

@media (min-width: @desktop-screen) {
	.price__inner {
		padding-top: 150px;
		padding-bottom: 95px;
	}
}