.page {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', Arial, sans-serif;
	color: @darkblue;

	&__research,
	&__footer {
		display: none;
	}
}

@media @tablet {
	.page {
		&__research,
		&__footer {
			display: block;
		}
	}
}