section.reviews
	div.container
		div.reviews__inner
			h2.visually-hidden Отзывы пользователей
			button.reviews__arrow(type="button") Предыдущий отзыв
				svg(width="22", height="41")
					use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-arrow-left")
			div.reviews__user-review
				include ../user-review/user-review.pug
			div.reviews__slider
				include ../slider/slider.pug
			button.reviews__arrow(type="button") Следующий отзыв
				svg(width="22", height="41")
					use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-arrow-right")