.reviews {
	background-color: #ffffff;
}

.reviews__inner {
	padding-top: 45px;
	padding-bottom: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__slider {
	margin-top: 35px;
}