header.main-header
	div.main-header__nav
		div.container
			div.main-header__nav-inner
				a.main-header__to-main-anchor(tabindex="0" href="#to-main") Scroll to main content
				div.main-header__logo
						include ../header-logo/header-logo.pug
				div.main-header__button
					include ../button-burger/button-burger.pug
				div.main-header__menu
					include ../main-menu/main-menu.pug
	div.main-header__promo
		div.container
			div.main-header__promo-inner
				h1.visually-hidden Приложение для применения фильтров на фотографиях
				p.main-header__promo-title Взгляните на жизнь иначе!
				div.main-header__download-button
					a.button.button--download(href="#") Скачать приложение
				div.main-header__download-list
					include ../download-list/download-list.pug
				p.main-header__download-description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8