.main-header {
	color: #ffffff;

	background-color: @darkblue;
}

.main-header__nav {
	position: relative;
	
	background-color: rgba(0, 0, 0, 0.5);
}

.main-header__nav-inner {
	min-height: 66px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header__logo-tablet,
.main-header__logo-desktop {
	display: none;
}

.main-header__menu {
	position: absolute;
	top: 66px;
	left: 0;
	width: 100%;
	z-index: 10;

	background-color: #283645;
	// display: none;
}