header.main-header
	div.main-header__nav
		div.container
			div.main-header__nav-inner
				div.main-header__logo
					div.main-header__logo-mobile
						include ../header-logo-mobile/header-logo-mobile.pug
					div.main-header__logo-tablet
						include ../header-logo-tablet/header-logo-tablet.pug
					div.main-header__logo-desktop
						include ../header-logo-desktop/header-logo-desktop.pug
					div.main-header__button
						include ../button-burger/button-burger.pug
					div.main-header__menu
						include ../main-menu/main-menu.pug
	div.main-header__promo
		div.container
			div.main-header__promo-inner
				h1.visually-hidden Приложение для применения фильтров на фотографиях
				p.main-header__promo-title Взгляните на жизнь иначе!
				div.main-header__download-button
					include ../download-button/download-button.pug
				div.main-header__download-list
					include ../download-list/download-list.pug
				p.main-header__download-description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8