.main-header {
	color: #ffffff;

	background-color: @darkblue;
	background-image: 	 url(blocks/main-header/img/iphone-mobile.png),
											 url(blocks/main-header/img/back-desktop.jpg);
	background-position: center bottom 270px,
											 center bottom 270px;
	background-repeat: 	 no-repeat,
										 	 no-repeat;
	background-size: 		 auto 285px,
											 cover;
}

.main-header__nav {
	position: relative;
	
	background-color: rgba(0, 0, 0, 0.5);
	// transition-property: background-color;
	// transition-duration: @main-duration;
}

.main-header__nav-inner {
	min-height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header__logo {
	margin-right: 20px;
}

.main-header__logo-tablet,
.main-header__logo-desktop {
	display: none;
}

.main-header__menu {
	position: absolute;
	top: 65px;
	left: 0;
	z-index: 10;
	width: 100%;
	display: none;

	background-color: @darkblue;
}

.main-header__promo-inner {
	padding-top: 425px;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header__promo-title {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	max-width: 200px;
	display: none;

	font-size: 40px;
	font-weight: 300;
	text-align: center;
}

.main-header__download-list {
	margin-top: 30px;
	margin-bottom: 25px;
}

.main-header__download-description {
	margin: 0;
	padding: 0;
	max-width: 235px;

	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.main-header__promo-title::selection,
.main-header__download-description::selection {
	color: @darkblue;
	
	background-color: #ffffff;
}

// JS //
.js-main-header__nav--bg {
	background-color: @darkblue;
}

.js-main-header__menu--show {
	display: block;
}
//

@media (min-width: @tablet-screen) {
	.main-header {
		background-image: 	 url(blocks/main-header/img/iphone-tablet.png),
												 url(blocks/main-header/img/back-desktop.jpg);
		background-position: center bottom,
												 center center;
		background-repeat: 	 no-repeat,
												 no-repeat;
		background-size: 		 auto auto,
												 cover;
	}

	.main-header__nav-inner {
		min-height: 110px;
		align-items: stretch;
	}

	.main-header__logo {
		margin-top: 25px;
	}
	
	.main-header__logo-mobile {
		display: none;
	}

	.main-header__logo-tablet {
		display: block;
	}

	.main-header__button {
		align-self: center;
	}

	.main-header__menu {
		top: 110px;
	}

	.main-header__promo-inner {
		padding-top: 90px;
		padding-bottom: 110px;
		max-width: 300px;
	}

	.main-header__promo-title {
		display: block;
	}

	.main-header__download-list {
		margin-top: 45px;
		margin-bottom: 35px;
	}

	.main-header__download-description {
		max-width: 300px;

		font-size: 18px;
	}
}

@media (min-width: @desktop-screen) {
	.main-header {
		background-image: 	 url(blocks/main-header/img/iphone-desktop.png),
												 url(blocks/main-header/img/back-desktop.jpg);
		background-position: center bottom,
												 center center;
		background-repeat:	 no-repeat,
												 no-repeat;
		background-size:		 auto auto,
												 cover;
	}

	.main-header__nav { 
		background-color: rgba(0, 0, 0, 0.5);
	}

	.main-header__logo-tablet {
		display: none;
	}

	.main-header__logo-desktop {
		display: block;
	}

	.main-header__button {
		display: none;
	}
	
	.main-header__menu {
		position: static;
		width: auto;
		display: block;
		align-self: center;

		background-color: inherit;
	}

	.main-header__promo-inner {
		padding-top: 110px;
		padding-bottom: 120px;
	}

	.main-header__promo-title {
		margin-bottom: 50px;
		max-width: 250px;

		font-size: 50px;
	}

	.main-header__download-list {
		margin-top: 65px;
		margin-bottom: 55px;
	}
}