.main-header {
	color: #ffffff;

	background-color: @darkblue;
}

.main-header__nav {
	position: relative;
	
	background-color: rgba(0, 0, 0, 0.5);
}

.main-header__nav-inner {
	min-height: 66px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header__logo-tablet,
.main-header__logo-desktop {
	display: none;
}

.main-header__menu {
	top: 66px;
	left: 0;
	z-index: 10;
	position: absolute;
	width: 100%;
	display: none;

	background-color: #283645;
}

.main-header__promo-inner {
	padding-top: 424px;
	padding-bottom: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header__promo-title {
	margin: 0;
	padding: 0;
	display: none;
}

.main-header__download-list {
	margin-top: 32px;
	margin-bottom: 25px;
}

.main-header__download-description {
	max-width: 235px;
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-weight: 300;
	text-align: center;
}

// JS //

.js-main-header__nav--opened {
	background-color: transparent;
}

.js-main-header__menu--opened {
	display: block;
}

//

@media (min-width: @tablet-screen) {
	.main-header__nav-inner {
		min-height: 110px;
		align-items: stretch;
	}

	.main-header__logo {
		margin-top: 27px;
	}
	
	.main-header__logo-mobile {
		display: none;
	}

	.main-header__logo-tablet {
		display: block;
	}

	.main-header__button {
		align-self: center;
	}

	.main-header__menu {
		top: 110px;
	}
}

@media (min-width: @desktop-screen) {
	.main-header__logo-tablet {
		display: none;
	}

	.main-header__logo-desktop {
		display: block;
	}

	.main-header__button {
		display: none;
	}
	
	.main-header__menu {
		width: auto;
		position: static;
		display: block;
		align-self: center;

		background-color: inherit;
	}
}