.page {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #283645;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 960px) {
  .container {
    padding: 0 10px;
  }
}
.main-header {
  color: #ffffff;
  background-color: #283645;
}
.main-header__nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: background-color;
}
.main-header__nav-inner {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo-tablet,
.main-header__logo-desktop {
  display: none;
}
.main-header__menu {
  top: 65px;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  display: none;
  background-color: #283645;
}
.main-header__promo-inner {
  padding-top: 425px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header__promo-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  max-width: 200px;
  display: none;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.main-header__download-list {
  margin-top: 35px;
  margin-bottom: 25px;
}
.main-header__download-description {
  max-width: 235px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.main-header__promo-title::selection,
.main-header__download-description::selection {
  color: #283645;
  background-color: #ffffff;
}
.js-main-header__nav--bg {
  background-color: transparent;
}
.js-main-header__menu--show {
  display: block;
}
@media (min-width: 660px) {
  .main-header__nav-inner {
    min-height: 110px;
    align-items: stretch;
  }
  .main-header__logo {
    margin-top: 25px;
  }
  .main-header__logo-mobile {
    display: none;
  }
  .main-header__logo-tablet {
    display: block;
  }
  .main-header__button {
    align-self: center;
  }
  .main-header__menu {
    top: 110px;
  }
  .main-header__promo-inner {
    max-width: 300px;
    padding-top: 95px;
    padding-bottom: 110px;
  }
  .main-header__promo-title {
    display: block;
  }
  .main-header__download-list {
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .main-header__download-description {
    max-width: 300px;
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .main-header__nav {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-header__logo-tablet {
    display: none;
  }
  .main-header__logo-desktop {
    display: block;
  }
  .main-header__button {
    display: none;
  }
  .main-header__menu {
    width: auto;
    position: static;
    display: block;
    align-self: center;
    background-color: inherit;
  }
  .main-header__promo-inner {
    padding-top: 110px;
  }
  .main-header__promo-title {
    margin-bottom: 50px;
    max-width: 250px;
    font-size: 50px;
  }
  .main-header__download-list {
    margin-top: 65px;
    margin-bottom: 60px;
  }
}
.logo {
  display: block;
  font-size: 0;
  fill: #ffffff;
  text-decoration: none;
  outline-offset: 10px;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.logo:hover,
.logo:focus {
  fill: #d22856;
}
.logo:active {
  opacity: 0.3;
}
@media (min-width: 960px) {
  .logo:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}
.main-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-menu__item {
  text-align: center;
  box-shadow: 0px -1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}
.main-menu__item:last-child {
  border-bottom: 1px solid #000000;
}
.main-menu__link {
  min-height: 65px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  outline-color: transparent;
  transition-property: color, opacity;
  transition-duration: 0.2s;
}
.main-menu__link:visited {
  color: #ffffff;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: #d22856;
}
.main-menu__link:active {
  opacity: 0.3;
}
.main-menu__link::selection {
  color: #283645;
  background-color: #ffffff;
}
@media (min-width: 960px) {
  .main-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .main-menu__item {
    margin-right: 85px;
    box-shadow: none;
  }
  .main-menu__item:last-child {
    margin-right: 0;
    border-bottom: none;
  }
  .main-menu__link {
    min-height: auto;
    font-weight: 400;
    text-transform: none;
    line-height: 18px;
    outline-offset: 10px;
  }
  .main-menu__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.button-burger {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 0;
  fill: #ffffff;
  border: 0;
  background-color: transparent;
  outline: none;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.button-burger:hover,
.button-burger:focus {
  fill: #d22856;
}
.button-burger:active {
  opacity: 0.3;
}
.button-burger__icon-cross {
  display: none;
}
.js-btn-burger__icon--hide {
  display: none;
}
.js-btn-burger__cross--show {
  display: block;
}
.download-button {
  width: 280px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline-offset: 10px;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: color, background-color;
}
.download-button:hover,
.download-button:focus {
  color: #d22856;
  background-color: #ffffff;
}
.download-button:active {
  color: rgba(210, 40, 86, 0.3);
}
.download-button::selection {
  color: #283645;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .download-button {
    width: 300px;
  }
}
.download-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}
.download-list__item {
  margin-right: 35px;
  font-size: 0;
}
.download-list__item:last-child {
  margin-right: 0;
}
.download-list__link {
  outline-offset: 10px;
  outline-color: transparent;
}
.features__inner {
  padding-top: 40px;
  padding-bottom: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__title {
  margin-bottom: 110px;
  max-width: 220px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.features__title-row {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.features__title-row:last-child,
.features__item:last-child {
  margin-bottom: 0;
}
.features__title-row::selection,
.features__item-title::selection,
.features__item-text::selection {
  color: #ffffff;
  background-color: #283645;
}
.features__group {
  max-width: 260px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.features__item {
  margin-bottom: 35px;
  text-align: center;
  line-height: 24px;
}
.features__item-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
@media (min-width: 660px) {
  .features__inner {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .features__title {
    margin-bottom: 110px;
    max-width: 100%;
    font-size: 40px;
  }
  .features__title-row {
    margin: 0 auto;
  }
  .features__title-row:last-child {
    max-width: 340px;
  }
  .features__group {
    margin-left: 310px;
    max-width: 310px;
  }
  .features__item {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .features__inner {
    padding-bottom: 65px;
  }
  .features__title {
    font-size: 50px;
  }
  .features__title-row:last-child {
    max-width: 420px;
  }
  .features__group {
    margin-left: 0;
    min-width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .features__item {
    margin-right: 80px;
    margin-bottom: 0;
    padding-top: 350px;
    max-width: 245px;
    text-align: center;
    line-height: 30px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
  .features__item-title {
    font-size: 30px;
  }
  .features__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}
