.page {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #283645;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-header {
  color: #ffffff;
  background-color: #283645;
}
.main-header__nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-header__nav-inner {
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo-tablet,
.main-header__logo-desktop {
  display: none;
}
.main-header__menu {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #283645;
}
.logo {
  display: block;
  font-size: 0;
  fill: #ffffff;
  text-decoration: none;
  outline-offset: 10px;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.logo:hover,
.logo:focus {
  fill: #d22856;
}
.logo:active {
  opacity: 0.3;
}
.main-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-menu__item {
  text-align: center;
  box-shadow: 0px -1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}
.main-menu__item:last-child {
  border-bottom: 1px solid #000000;
}
.main-menu__link {
  min-height: 63px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  outline-color: transparent;
  transition-property: color, opacity;
  transition-duration: 0.2s;
}
.main-menu__link:visited {
  color: #ffffff;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: #d22856;
}
.main-menu__link:active {
  opacity: 0.3;
}
.button-hamburger {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 24px;
  display: block;
  font-size: 0;
  fill: #ffffff;
  border: 0;
  background-color: transparent;
  outline-offset: 10px;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.button-hamburger:hover,
.button-hamburger:focus {
  fill: #d22856;
}
.button-hamburger:active {
  opacity: 0.3;
}
.button-close {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 23px;
  display: none;
  font-size: 0;
  fill: #ffffff;
  border: 0;
  background-color: transparent;
  outline-offset: 10px;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.button-close:hover,
.button-close:focus {
  fill: #d22856;
}
.button-close:active {
  opacity: 0.3;
}
