.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  border: 0;
}
.page {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #283645;
}
.page__research {
  display: none;
}
.page__footer {
  display: none;
}
@media (min-width: 660px) {
  .page__research {
    display: block;
  }
  .page__footer {
    display: block;
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
  box-sizing: border-box;
}
@media (min-width: 960px) {
  .container {
    padding: 0 10px;
  }
}
.main-header {
  color: #ffffff;
  background-color: #283645;
  background-image: url(blocks/main-header/img/iphone-mobile.png), url(blocks/main-header/img/back-desktop.jpg);
  background-position: center bottom 270px,
											 center bottom 270px;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 285px,
											 cover;
}
.main-header__nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: background-color;
}
.main-header__nav-inner {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  margin-right: 20px;
}
.main-header__logo-tablet,
.main-header__logo-desktop {
  display: none;
}
.main-header__menu {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;
  background-color: #283645;
}
.main-header__promo-inner {
  padding-top: 425px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header__promo-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  max-width: 200px;
  display: none;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.main-header__download-list {
  margin-top: 30px;
  margin-bottom: 25px;
}
.main-header__download-description {
  margin: 0;
  padding: 0;
  max-width: 235px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.main-header__promo-title::selection,
.main-header__download-description::selection {
  color: #283645;
  background-color: #ffffff;
}
.js-main-header__nav--bg {
  background-color: #283645;
}
.js-main-header__menu--show {
  display: block;
}
@media (min-width: 660px) {
  .main-header {
    background-image: url(blocks/main-header/img/iphone-tablet.png), url(blocks/main-header/img/back-desktop.jpg);
    background-position: center bottom,
												 center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto,
												 cover;
  }
  .main-header__nav-inner {
    min-height: 110px;
    align-items: stretch;
  }
  .main-header__logo {
    margin-top: 25px;
  }
  .main-header__logo-mobile {
    display: none;
  }
  .main-header__logo-tablet {
    display: block;
  }
  .main-header__button {
    align-self: center;
  }
  .main-header__menu {
    top: 110px;
  }
  .main-header__promo-inner {
    padding-top: 90px;
    padding-bottom: 110px;
    max-width: 300px;
  }
  .main-header__promo-title {
    display: block;
  }
  .main-header__download-list {
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .main-header__download-description {
    max-width: 300px;
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .main-header {
    background-image: url(blocks/main-header/img/iphone-desktop.png), url(blocks/main-header/img/back-desktop.jpg);
    background-position: center bottom,
												 center center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto,
												 cover;
  }
  .main-header__nav {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-header__logo-tablet {
    display: none;
  }
  .main-header__logo-desktop {
    display: block;
  }
  .main-header__button {
    display: none;
  }
  .main-header__menu {
    position: static;
    width: auto;
    display: block;
    align-self: center;
    background-color: inherit;
  }
  .main-header__promo-inner {
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .main-header__promo-title {
    margin-bottom: 50px;
    max-width: 250px;
    font-size: 50px;
  }
  .main-header__download-list {
    margin-top: 65px;
    margin-bottom: 55px;
  }
}
.logo {
  display: block;
  font-size: 0;
  fill: #ffffff;
  text-decoration: none;
  outline: none;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.logo:hover,
.logo:focus {
  fill: #d22856;
}
.logo:active {
  fill: rgba(210, 40, 86, 0.3);
}
@media (min-width: 960px) {
  .logo:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}
.button-burger {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0;
  fill: #ffffff;
  border: 0;
  background-color: transparent;
  outline: none;
  outline-color: transparent;
  transition-duration: 0.2s;
  transition-property: fill, opacity;
}
.button-burger:hover,
.button-burger:focus {
  fill: #d22856;
}
.button-burger:active {
  opacity: 0.3;
}
.button-burger__icon-cross {
  display: none;
}
.js-btn-burger__icon--hide {
  display: none;
}
.js-btn-burger__cross--show {
  display: block;
}
.main-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-menu__item {
  position: relative;
  text-align: center;
  box-shadow: 0px -1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}
.main-menu__item:last-child {
  border-bottom: 1px solid #000000;
}
.main-menu__link {
  min-height: 65px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition-property: color, opacity;
  transition-duration: 0.2s;
}
.main-menu__link:visited {
  color: #ffffff;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: #d22856;
}
.main-menu__link:active {
  fill: rgba(210, 40, 86, 0.3);
}
.main-menu__link::selection {
  color: #283645;
  background-color: #ffffff;
}
.main-menu__link::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
}
.main-menu__link:hover:after,
.main-menu__link:focus:after {
  width: 100%;
  transform: translateX(-50%);
}
@media (min-width: 960px) {
  .main-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .main-menu__item {
    margin-right: 80px;
    box-shadow: none;
  }
  .main-menu__item:last-child {
    margin-right: 0;
    border-bottom: none;
  }
  .main-menu__link {
    min-height: auto;
    font-weight: 400;
    text-transform: none;
    line-height: 18px;
    outline: none;
  }
  .main-menu__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.download-button {
  width: 280px;
  height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline: none;
  transition-duration: 0.2s;
  transition-property: color, background-color;
}
.download-button:hover,
.download-button:focus {
  color: #d22856;
  background-color: #ffffff;
}
.download-button:active {
  color: rgba(210, 40, 86, 0.3);
}
.download-button::selection {
  color: #283645;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .download-button {
    width: 300px;
  }
}
@media (min-width: 960px) {
  .download-button {
    font-size: 21px;
  }
}
.download-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}
.download-list__item {
  margin-right: 35px;
  position: relative;
  font-size: 0;
}
.download-list__item:last-child {
  margin-right: 0;
}
.download-list__link {
  display: inline-block;
  outline: none;
}
.download-list__link::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
}
.download-list__link:hover:after,
.download-list__link:focus:after {
  width: 100%;
  transform: translateX(-50%);
}
.features {
  background-color: #ffffff;
  background-image: url(blocks/features/img/iphone-mobile.png), url(blocks/features/img/bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: auto 275px, cover;
  background-position: bottom -35px center, top 215px center;
}
.features__inner {
  padding-top: 40px;
  padding-bottom: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__title {
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.features__title-row {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.features__title-row:last-child {
  max-width: 210px;
}
.features__group {
  display: flex;
  flex-direction: column;
}
.features__item {
  margin-bottom: 35px;
  text-align: center;
  line-height: 24px;
}
.features__item-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
.features__title-row:last-child,
.features__item:last-child {
  margin-bottom: 0;
}
.features__title-row::selection,
.features__item-title::selection,
.features__item-text::selection {
  color: #ffffff;
  background-color: #283645;
}
@media (min-width: 660px) {
  .features {
    background-color: #ffffff;
    background-image: url(blocks/features/img/iphone-mobile.png), url(blocks/features/img/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto 485px, cover;
    background-position: bottom -60px left 20px, top 240px center;
  }
  .features__inner {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .features__title {
    margin-bottom: 110px;
    font-size: 40px;
  }
  .features__title-row {
    margin: 0 auto;
  }
  .features__title-row:last-child {
    max-width: 340px;
  }
  .features__group {
    margin-left: 310px;
  }
  .features__item {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .features {
    background-color: #ffffff;
    background-image: url(blocks/features/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 325px center;
  }
  .features__inner {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .features__title {
    font-size: 50px;
  }
  .features__title-row:last-child {
    max-width: 440px;
  }
  .features__group {
    margin-left: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .features__item {
    margin-bottom: 0;
    padding-top: 350px;
    flex-basis: 240px;
    text-align: center;
    background-image: url(blocks/features/img/iphone-mobile.png);
    background-size: auto 300px;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .features__item:last-child {
    margin-right: 0;
  }
  .features__item-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }
  .features__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}
.research__inner {
  padding-top: 95px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  background-image: url(blocks/research/img/diagram.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.research__group {
  margin-left: 310px;
}
.research__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  max-width: 170px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.research__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
.research__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
  text-decoration: underline;
  outline: none;
  transition-duration: 0.2s;
  transition-property: color;
}
.research__link:visited {
  color: #d22856;
}
.research__link:hover,
.research__link:focus,
.research__link:active {
  color: #283645;
}
.research__title::selection,
.research__text::selection,
.research__link::selection {
  color: #ffffff;
  background-color: #283645;
}
@media (min-width: 960px) {
  .research__group {
    margin-left: 370px;
  }
  .research__title {
    margin-bottom: 20px;
    line-height: 30px;
  }
  .research__text {
    margin-bottom: 35px;
  }
  .research__text,
  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
.reviews {
  background-color: #ffffff;
}
.reviews__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__user-review {
  margin-bottom: 35px;
  max-width: 280px;
}
.reviews__arrow-prev,
.reviews__arrow-next {
  margin-top: 25px;
  padding: 0;
  height: 41px;
  display: none;
  font-size: 0;
  fill: rgba(40, 54, 69, 0.3);
  outline: none;
  transition-duration: 0.2s;
  transition-property: fill;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}
.reviews__arrow-prev:hover,
.reviews__arrow-next:hover,
.reviews__arrow-prev:focus,
.reviews__arrow-next:focus {
  fill: rgba(40, 54, 69, 0.6);
}
.reviews__arrow-prev:active,
.reviews__arrow-next:active {
  fill: rgba(40, 54, 69, 0.1);
}
@media (min-width: 660px) {
  .reviews__user-review {
    margin-bottom: 35px;
    max-width: 620px;
  }
}
@media (min-width: 960px) {
  .reviews__inner {
    padding-top: 185px;
    padding-bottom: 40px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-image: url(blocks/reviews/img/quotes.png);
    background-size: auto auto;
    background-position: top 70px center;
    background-repeat: no-repeat;
  }
  .reviews__user-review {
    margin-bottom: 0;
    max-width: 700px;
  }
  .reviews__slider {
    display: none;
  }
  .reviews__arrow-prev,
  .reviews__arrow-next {
    display: block;
  }
}
.user-review__quote {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-review__user {
  margin-bottom: 25px;
}
.user-review__user-name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
}
.user-review__user-description {
  display: none;
  font-size: 14px;
  line-height: 30px;
}
.user-review__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.user-review__text::selection,
.user-review__user-name::selection,
.user-review__user-description::selection {
  color: #ffffff;
  background-color: #283645;
}
@media (min-width: 660px) {
  .user-review__user {
    margin-bottom: 0;
    order: 1;
  }
  .user-review__user-name {
    font-size: 20px;
  }
  .user-review__user-description {
    display: block;
  }
  .user-review__text {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .user-review__user-name {
    font-size: 24px;
  }
  .user-review__user-description {
    font-size: 18px;
  }
}
.slider {
  min-height: 12px;
  display: flex;
  align-items: center;
}
.slider__item {
  margin-right: 19px;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__item--checked {
  box-shadow: 0 0 0 3px #283645;
  background-color: #ffffff;
}
.price {
  background-color: #f2f2f2;
}
.price__inner {
  padding-top: 90px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__slider {
  margin-top: 40px;
}
@media (min-width: 660px) {
  .price__slider {
    display: none;
  }
  .price__inner {
    padding-bottom: 70px;
  }
}
@media (min-width: 960px) {
  .price__inner {
    padding-bottom: 95px;
  }
}
.price-table {
  font-size: 14px;
  line-height: 30px;
  border-collapse: collapse;
}
.price-table__header-cell {
  padding: 0;
  min-width: 280px;
  height: 100px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #283645;
  border: 2px solid #283645;
  border-top: 0;
  border-right: 2px solid #e5e5e5;
}
.price-table__header-cell:first-child {
  display: none;
  background-color: transparent;
  border: 0;
}
.price-table__header-cell:last-child {
  border-right-color: #283645;
}
.price-table__plan {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
}
.price-table__cost {
  font-size: 24px;
  font-weight: normal;
}
.price-table__cell {
  padding: 0;
  padding-right: 15px;
  padding-left: 20px;
  height: 60px;
  text-transform: uppercase;
  background-color: #ffffff;
  box-sizing: border-box;
  border: solid 2px #e5e5e5;
}
.price-table__cell:first-child {
  display: none;
}
.price-table__cell-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.price-table__check-on {
  min-width: 31px;
  fill: #3dc644;
}
.price-table__check-off {
  min-width: 27px;
  fill: #f25b26;
}
.price-table__header-cell--special {
  position: relative;
  overflow: hidden;
}
.price-table__header-cell--special::before {
  content: 'Хит';
  position: absolute;
  top: 13px;
  left: -37px;
  width: 120px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #d22856;
  transform: rotate(-45deg);
}
.price-table__plan::selection,
.price-table__cost::selection {
  color: #283645;
  background-color: #ffffff;
}
.price-table__cell-text::selection {
  color: #ffffff;
  background-color: #283645;
}
@media (min-width: 660px) {
  .price-table__header-cell {
    min-width: 155px;
    height: 80px;
  }
  .price-table__header-cell:first-child {
    display: block;
  }
  .price-table__header-cell--special::before {
    top: 3px;
    left: -43px;
  }
  .price-table__cell {
    height: 50px;
    font-size: 0;
    text-transform: none;
    text-align: center;
  }
  .price-table__cell:first-child {
    padding-left: 15px;
    display: table-cell;
    font-size: 14px;
    text-align: left;
  }
  .price-table__cell-wrapper {
    justify-content: center;
  }
  .price-table__plan {
    font-size: 16px;
  }
  .price-table__cost {
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .price-table__header-cell {
    min-width: 235px;
    height: 100px;
  }
  .price-table__header-cell--special::before {
    top: 13px;
    left: -37px;
  }
  .price-table__cell {
    height: 60px;
  }
}
.contacts {
  background-color: #ffffff;
}
.contacts__wrapper {
  padding-top: 45px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 225px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.contacts__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__group-item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-align: center;
}
.contacts__group-item:last-child {
  margin-bottom: 0;
}
.contacts__item-title {
  font-size: 18px;
  font-weight: 700;
}
.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-decoration: none;
  outline-color: #283645;
  transition-duration: 0.2s;
  transition-property: color;
}
.contacts__link:visited {
  color: #d22856;
}
.contacts__link:hover {
  color: #283645;
}
.contacts__link--email:hover {
  text-decoration: underline;
}
.contacts__link:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}
.contacts__map {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 190px;
  position: relative;
  background-image: url(blocks/contacts/img/map.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__triangle {
  top: 0;
  left: 0;
  position: absolute;
}
@media (min-width: 660px) {
  .contacts__wrapper {
    padding-top: 50px;
  }
  .contacts__title {
    margin-bottom: 50px;
    max-width: 375px;
    font-size: 40px;
  }
  .contacts__group {
    max-width: 550px;
    flex-direction: row;
  }
  .contacts__group-item {
    margin-bottom: 50px;
  }
  .contacts__group-item:last-child {
    margin: 0 auto;
  }
  .contacts__map {
    min-height: 430px;
  }
}
@media (min-width: 960px) {
  .contacts__wrapper {
    padding-top: 70px;
    padding-bottom: 0;
  }
  .contacts__title {
    margin-bottom: 70px;
    max-width: 465px;
    font-size: 50px;
  }
  .contacts__group {
    margin-bottom: 0px;
    min-width: 865px;
  }
  .contacts__group-item {
    margin-bottom: 0px;
  }
  .contacts__group-item--email {
    order: 1;
  }
  .contacts__map {
    min-height: 520px;
  }
}
.main-footer {
  background-color: #ffffff;
}
.main-footer__inner {
  min-height: 127px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-footer__logo {
  margin-top: 35px;
}
.main-footer__logo-desktop {
  display: none;
}
.main-footer__social,
.main-footer__copyright {
  align-self: center;
}
@media (min-width: 960px) {
  .main-footer__inner {
    min-height: 197px;
  }
  .main-footer__logo {
    margin-top: 70px;
  }
  .main-footer__logo-tablet {
    display: none;
  }
  .main-footer__logo-desktop {
    display: block;
  }
}
.social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.social__item {
  margin-right: 12px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  text-decoration: none;
  fill: #d22856;
  box-sizing: border-box;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  outline: none;
  transition-duration: 0.2s;
  transition-property: border-color, fill;
}
.social__icon:hover,
.social__icon:focus {
  border-color: #283645;
}
.social__icon:active {
  fill: rgba(210, 40, 86, 0.3);
  border-color: rgba(40, 54, 69, 0.1);
}
.copyright {
  display: flex;
  align-items: center;
  color: #283645;
  text-decoration: none;
  fill: #d22856;
  outline-offset: 10px;
  outline-color: #283645;
  transition-duration: 0.2s;
  transition-property: fill;
}
.copyright:visited {
  font-size: inherit;
}
.copyright:hover,
.copyright:focus {
  fill: #283645;
}
.copyright:active {
  fill: rgba(40, 54, 69, 0.3);
}
.copyright__text {
  font-size: 14px;
}
.copyright__icon {
  margin-right: -7px;
}
@media (min-width: 960px) {
  .copyright__text {
    font-size: 18px;
  }
}
