a.copyright(href='https://htmlacademy.ru')
	span.copyright__text Designed by
	svg.copyright__icon(width='42' height='49' aria-label="Логотип HTML Academy")
		use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-htmlacademy')