.features {
	background-color: #f2f2f2;
	
	&__inner {
		padding-top: 40px;
		padding-bottom: 318px;
		display: flex;
		flex-direction: column;
		align-items: center;

		background-image: url(blocks/features/img/features-mobile.png);
		background-repeat: no-repeat;
		background-size: auto 320px;
		background-position: bottom -43px center;
	}

	&__title {
		margin-bottom: 115px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 300px;

		font-size: 24px;
		line-height: 1.22;
		font-weight: 300;
		text-align: center;
	}

	&__title-row {
		margin: 0;
		margin-bottom: 28px;
		padding: 0;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
		
		&:last-child {
			margin-bottom: 0;
			max-width: 210px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-bottom: 32px;
		max-width: 270px; // убрать

		text-align: center;

		&:last-child {
			margin-top: 1px;
			margin-bottom: 0;
		}
	}

	&__item-title {
		margin: 0;
		margin-bottom: 11.5px;
		padding: 0;

		font-size: 18px;
		font-weight: 700;
		line-height: 1.33;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__item-text {
		margin: 0;
		padding: 0;

		font-size: 14px;
		line-height: 1.72;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}
}

@media @tablet {
	.features {
		background-color: #ffffff;

		&__inner {
			padding-top: 49px;
			padding-bottom: 18px;

			background-image: url(blocks/features/img/features-tablet.png);
			background-size: auto 547px;
			background-position: bottom -66px left;
		}

		&__title {
			margin-bottom: 122px;
			max-width: 620px;

			font-size: 40px;
		}

		&__title-row {
			margin: 0 auto;

			&:last-child {
				max-width: 340px;
			}
		}

		&__group {
			margin-left: 269px;
		}

		&__item {
			margin-bottom: 35px;
			text-align: left;
		}

		&__item-title {
			margin-bottom: 12px;
		}

		&__item-text {
			line-height: 1.74;
		}
	}
}

@media @desktop {
	.features {
		background-color: #f2f2f2;

		&__inner {
			padding-top: 67px;
			padding-bottom: 65px;

			background-image: none;
		}

		&__title {
			margin-bottom: 73px;
			max-width: 750px;
			font-size: 50px;
			line-height: 1.2;
		}

		&__title-row {
			&:last-child {
				max-width: 440px;
			}
		}

		&__group {
			margin-left: 0;
			flex-direction: row;
			justify-content: space-between;
		}

		&__item {
			margin-right: 35px;
			margin-bottom: 0;
			padding-top: 358px;
			flex-basis: 240px;

			text-align: center;

			background-image: none;
			background-size: auto 301px;
			background-repeat: no-repeat;
			background-position: top 2px center;

			&:last-child {
				margin-right: 0;
			}

			&--gray {
				background-image: url(blocks/features/img/features-iphone1.png);
			}

			&--pink {
				background-image: url(blocks/features/img/features-iphone2.png);
			}

			&--hello {
				background-image: url(blocks/features/img/features-iphone3.png);
			}
		}

		&__item-title {
			margin-bottom: 24px;
			font-size: 30px;
			line-height: 1;
		}

		&__item-text {
			font-size: 18px;
			line-height: 1.67;
		}
	}
}