nav.main-menu
	ul.main-menu__list
		li.main-menu__item
			a.main-menu__link(href="index.html") Главная
		li.main-menu__item
			a.main-menu__link(href="page-photo.html") Фотографии
		li.main-menu__item
			a.main-menu__link(href="#") Конкурс
		li.main-menu__item
			a.main-menu__link(href="#") О нас