ul.main-menu__list
	li.main-menu__item
		a.main-menu__link(href="#") Главная
	li.main-menu__item
		a.main-menu__link(href="page-photo.html") Фотографии
	li.main-menu__item
		a.main-menu__link(href="page-contest.html") Конкурс
	li.main-menu__item
		a.main-menu__link(href="#") О нас