.main-menu {
	&__list {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	&__item {
		position: relative;

		text-align: center;

		box-shadow: 0px -1px 0 0 #000000,
		inset 0px 1px 0 0 @white15;

		&:last-child {
			border-bottom: 1px solid #000000;
		}
	}

	&__link {
		min-height: 65px;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;

		outline: none;
		transition-property: color, opacity;
		transition-duration: @main-duration;

		&:visited {
			color: #ffffff;
		}

		&:hover,
		&:focus {
			color: @red;
		}

		&:active {
			color: @red30;
		}

		&::selection {
			color: @darkblue;
			background-color: #ffffff;
		}
	}
}

@media @desktop {
	.main-menu {
		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			margin-right: 80px;
			box-shadow: none;

			&:last-child {
				margin-right: 0;
				border-bottom: none;
			}
		}

		&__link {
			min-height: auto;

			font-weight: 400;
			text-transform: none;
			line-height: 18px;

			outline-offset: 5px;

			&:active {
				color: @white30;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -15px;
				left: 50%;
				width: 0;
				height: 2px;

				background-color: #ffffff;
				transition-property: all;
				transition-duration: @main-duration;
			}

			&:hover::after {
				width: 100%;
				transform: translateX(-50%);
			}

			&:active::after {
				background-color: @white30;
			}
		}
	}
}