.fieldset--achievements {
	background-color: #f2f2f2;
}

@media @tablet {
	.fieldset--achievements {
		margin-bottom: 57px;
		padding-bottom: 47px;
		background-color: transparent;
	}
}

@media @desktop {
	.fieldset--achievements {
		margin-bottom: 0;
		padding-bottom: 54px;
		grid-column-start: 1;
		grid-column-end: -1;
	}
}