section.features
	div.container
		div.features__inner
			h2.visually-hidden Преимущества приложения
			div.features__title
				a(id="to-main")
				p.features__title-row Устали от серости мегаполиса?
				p.features__title-row Нам есть, что вам предложить!
			div.features__group
				div.features__item
					h3.features__item-title Поднимает настроение
					p.features__item-text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
				div.features__item
					h3.features__item-title Меняет мир вокруг
					p.features__item-text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
				div.features__item
					h3.features__item-title Заводит новых друзей
					p.features__item-text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых