.features {
	background-image: url(blocks/features/img/iphone-mobile.png);
	background-repeat: no-repeat;
	background-size: auto 275px;
	background-position: bottom -35px center;
	
	&__inner {
		padding-top: 40px;
		padding-bottom: 320px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 110px;
		display: flex;
		flex-direction: column;
		align-items: center;

		font-size: 24px;
		font-weight: 300;
		text-align: center;
	}

	&__title-row {
		margin: 0;
		margin-bottom: 30px;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
			max-width: 210px;
		}

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__item {
		margin-bottom: 35px;

		text-align: center;
		line-height: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-title {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__item-text {
		margin: 0;
		padding: 0;

		font-size: 14px;
		line-height: 24px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}
}

@media @tablet {
	.features {
		background-image: url(blocks/features/img/iphone-mobile.png);
		background-repeat: no-repeat;
		background-size: auto 485px;
		background-position: bottom -60px left 20px;

		&__inner {
			padding-top: 50px;
			padding-bottom: 45px;
		}

		&__title {
			margin-bottom: 110px;
			font-size: 40px;
		}

		&__title-row {
			margin: 0 auto;

			&:last-child {
				max-width: 340px;
			}
		}

		&__group {
			margin-left: 310px;
		}

		&__item {
			text-align: left;
		}
	}
}

@media @desktop {
	.features {
		background-image: none;

		&__inner {
			padding-top: 70px;
			padding-bottom: 65px;
		}

		&__title {
			font-size: 50px;
		}

		&__title-row {
			&:last-child {
				max-width: 440px;
			}
		}

		&__group {
			margin-left: 0;
			flex-direction: row;
			justify-content: space-between;
		}

		&__item {
			margin-bottom: 0;
			padding-top: 350px;
			flex-basis: 240px;

			text-align: center;

			background-image: url(blocks/features/img/iphone-mobile.png);
			background-size: auto 300px;
			background-repeat: no-repeat;
			background-position: top center;

			&:last-child {
				margin-right: 0;
			}
		}

		&__item-title {
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 30px;
		}

		&__item-text {
			font-size: 18px;
			line-height: 30px;
		}
	}
}