.page-contest {
	&__header {
		background-image: url(blocks/main-header/img/back-desktop.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__promo-inner {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	&__promo-title {
		margin: 0 auto;
		padding: 0;

		font-size: 24px;
		font-weight: 300;
		text-align: center;

		&::selection {
			color: @darkblue;
			background-color: #ffffff;
		}
	}

	&__main-inner {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	&__title {
		margin: 0;
		margin-bottom: 45px;
		padding: 0;

		font-size: 14px;
		line-height: 30px;
		text-align: center;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__form {
		max-width: 940px;
	}

	&__legend {
		max-width: 250px;
	}

	&__input-list {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	&__input-text {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__achievements {
		background-color: #f2f2f2;
	}

	&__achievements-inner {
		padding-bottom: 40px;
	}

	&__checkbox {
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__app {
		background-color: #f2f2f2;
	}

	&__app-inner {
		padding-bottom: 40px;
	}

	&__radio {
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__button-group {
		text-align: center;
	}

	&__button {
		margin-bottom: 40px;
	}

	&__subtitle {
		margin: 0;
		padding: 0;

		font-size: 14px;
		line-height: 30px;

		&-remark {
			color: @red;

			&::selection {
				color: #ffffff;
				background-color: @red;
			}
		}

		&-text {
			&::selection {
				color: #ffffff;
				background-color: @darkblue;
			}
		}
	}
}

@media @tablet {
	.page-contest {
		&__promo-inner {
			padding-top: 75px;
			padding-bottom: 75px;
		}

		&__promo-title {
			font-size: 50px;
		}

		&__inner {
			padding-top: 95px;
		}

		&__title {
			margin-bottom: 70px;
			font-size: 18px;
		}

		&__input-group {
			flex-direction: row;
			align-items: center;
			width: 100%;
		}

		&__form-label {
			margin: 0;
			margin-right: 20px;
		}

		&__text-input {
			width: 100%;
		}
	}
}