.price-table {
	font-size: 14px;
	line-height: 30px;

	border-collapse: collapse;
}

.price-table__header-cell {
	padding: 0;
	min-width: 280px;
	height: 100px;

	color: #ffffff;

	box-sizing: border-box;
	background-color: @darkblue;
	border: 2px solid @darkblue;
	border-top: 0;
	border-right: 2px solid #e5e5e5;
}

.price-table__header-cell:first-child {
	display: none;

	background-color: transparent;
	border: 0;
}

.price-table__header-cell:last-child {
	border-right-color: @darkblue;
}

.price-table__plan {
	display: block;

	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.price-table__cost {
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
}

.price-table__cell {
	padding: 0;
	padding-right: 15px;
	padding-left: 20px;
	height: 60px;

	text-transform: uppercase;

	background-color: #ffffff;
	box-sizing: border-box;
	border: solid 2px #e5e5e5;
}

.price-table__cell:first-child {
	display: none;
}

.price-table__cell-wrapper {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.price-table__check-on {
	min-width: 31px;

	fill: #3dc644;
}

.price-table__check-off {
	min-width: 27px;

	fill: #f25b26;
}

.price-table__header-cell--special {
	position: relative;

	overflow: hidden;
}

.price-table__header-cell--special::before {
	content: 'Хит';
	position: absolute;
	top: 13px;
	left: -37px;
	width: 120px;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;

	background-color: @red;
	transform: rotate(-45deg);
}

.price-table__plan::selection,
.price-table__cost::selection {
	color: @darkblue;

	background-color: #ffffff;
}

.price-table__cell-text::selection {
	color: #ffffff;

	background-color: @darkblue;
}

// JS //

.js-price-table--translate-right {
	transition: all 0.2s ease;
	transform: translateX(33.3333%);
}

.js-price-table--translate-left {
	transition: all 0.2s ease;
	transform: translateX(-33.3333%);
}

@media (min-width: @tablet-screen) {
	.price-table__header-cell {
		min-width: 155px;
		height: 80px;
	}

	.price-table__header-cell:first-child {
		display: block;
	}

	.price-table__header-cell--special::before {
		top: 3px;
		left: -43px;
	}

	.price-table__cell {
		height: 50px;

		font-size: 0;
		text-transform: none;
		text-align: center;
	}

	.price-table__cell:first-child {
		padding-left: 15px;
		display: table-cell;

		font-size: 14px;
		text-align: left;
	}

	.price-table__cell-wrapper {
		justify-content: center;
	}

	.price-table__plan {
		font-size: 16px;
	}

	.price-table__cost {
		font-size: 18px;
	}
}

@media (min-width: @desktop-screen) {
	.price-table__header-cell {
		min-width: 235px;
		height: 100px;
	}

	.price-table__header-cell--special::before {
		top: 13px;
		left: -37px;
	}

	.price-table__plan {
		font-size: 18px;
	}

	.price-table__cost {
		font-size: 24px;
	}

	.price-table__cell {
		height: 60px;
	}

	.price-table__cell:first-child {
		font-size: 18px;
	}
}