table.price-table
	thead.price-table__header
		tr.price-table__row
			th.price-table__header-cell
			th.price-table__header-cell
				span.price-table__plan База
				span.price-table__cost 1,99 USD
			th.price-table__header-cell.price-table__header-cell--special
				span.price-table__plan Стандарт
				span.price-table__cost 3,99 USD
			th.price-table__header-cell
				span.price-table__plan Анлим
				span.price-table__cost 9,99 USD
	tbody.price-table__body
		tr.price-table__row
			td.price-table__cell
				span.price-table__cell-text Розовый фильтр
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Розовый фильтр
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Розовый фильтр
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Розовый фильтр
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")
		tr.price-table__row
			td.price-table__cell
				span.price-table__cell-text Смайлики
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Смайлики
					svg.price-table__check-off(width="27", height="26")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-no")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Смайлики
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Смайлики
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")
		tr.price-table__row
			td.price-table__cell
				span.price-table__cell-text Комментарии
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Комментарии
					svg.price-table__check-off(width="27", height="26")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-no")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Комментарии
					svg.price-table__check-off(width="27", height="26")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-no")
			td.price-table__cell
				div.price-table__cell-wrapper
					span.price-table__cell-text Комментарии
					svg.price-table__check-on(width="31", height="21")
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-yes")