a.logo.logo--header.logo--header-mobile(href="#" aria-label="Логотип Pink для экранов смартфонов")
	svg(width="75" height="22")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-mobile")

a.logo.logo--header.logo--header-tablet(href="#" aria-label="Логотип Pink для экранов планшетов")
	svg(width="148" height="40")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-tablet")
			
a.logo.logo--header.logo--header-desktop(href="#" aria-label="Логотип Pink для экранов компьютеров")
	svg(width="148" height="40")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-desktop")