.logo {
	display: block;

	font-size: 0;

	fill: #ffffff;
	text-decoration: none;
	outline: none;
	transition-duration: 0.2s;
	transition-property: fill, opacity;
}

.logo:hover,
.logo:focus {
	fill: @red;
}

.logo:active {
	fill: rgba(210, 40, 86, 0.3);
}

@media (min-width: @desktop-screen) {
	.logo:active {
		fill: rgba(255, 255, 255, 0.3);
	}
}