.research {
	&__inner {
		padding-top: 95px;
		padding-bottom: 90px;
		display: flex;
		justify-content: center;

		background-image: url(blocks/research/img/diagram.png);
		background-repeat: no-repeat;
		background-position: left center;
	}

	&__group {
		margin-left: 310px;
	}

	&__title {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
		max-width: 170px;

		font-size: 30px;
		font-weight: 700;
		line-height: 36px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 15px;
		padding: 0;

		font-size: 14px;
		line-height: 24px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 24px;
		color: @red;
		text-decoration: underline;

		outline-offset: 5px;
		outline-color: @darkblue;
		transition-property: color;
		transition-duration: @main-duration;

		&:visited {
			color: @red;
		}

		&:hover,
		&:focus,
		&:active {
			color: @darkblue;
		}

		&::selection {
			color: #ffffff;
			background-color: @darkblue;
		}
	}
}

@media @desktop {
	.research {
		&__group {
			margin-left: 370px;
		}

		&__title {
			margin-bottom: 20px;

			line-height: 30px;
		}

		&__text {
			margin-bottom: 35px;
		}

		&__text,
		&__link {
			font-size: 18px;
			line-height: 30px;
		}
	}
}