section.research
	div.container
		div.research__inner
			div.research__group
				p.research__title Эффект на 24 часа!
				p.research__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
				a.research__link(href="#") Узнать больше об исследовании