doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		//- OPEN GRAPH ДЛЯ СОЦСЕТЕЙ
		include ../blocks/opengraph/opengraph.pug
		title PINK
		link(rel="icon" href="#" type="image/png" sizes="32x32")
		link(rel="stylesheet" href="style.css")

	body.page
		include ../blocks/svg/svg.pug

		header.page__header.main-header
			div.main-header__nav
				div.container
					div.main-header__nav-inner
						a.main-header__to-main-anchor(tabindex="0" href="#to-main") Scroll to main content
						div.main-header__logo
								include ../blocks/header-logo/header-logo.pug
						div.main-header__button
							include ../blocks/button-burger/button-burger.pug
						div.main-header__menu.main-menu
							include ../blocks/main-menu/main-menu.pug
			div.main-header__promo.container
				div.main-header__promo-inner
						h1.visually-hidden Приложение для применения фильтров на фотографиях
						p.main-header__promo-title Взгляните на жизнь иначе!
						a.main-header__download-button.button.button--download(href="#") Скачать приложение
						div.main-header__download-list
							include ../blocks/download-list/download-list.pug
						p.main-header__download-description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

		main.page__main
			section.features
				div.container
					div.features__inner
						h2.visually-hidden Преимущества приложения
						div.features__title
							a(id="to-main")
							p.features__title-row Устали от серости мегаполиса?
							p.features__title-row Нам есть, что вам предложить!
						div.features__group
							div.features__item
								h3.features__item-title Поднимает настроение
								p.features__item-text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
							div.features__item
								h3.features__item-title Меняет мир вокруг
								p.features__item-text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
							div.features__item
								h3.features__item-title Заводит новых друзей
								p.features__item-text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
			section.page__research.research
				div.container
					div.research__inner
						h2.visually-hidden Исследования
						div.research__group
							p.research__title Эффект на 24 часа!
							p.research__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
							a.research__link(href="#") Узнать больше об исследовании
			section.reviews
				div.container
					div.reviews__inner
						h2.visually-hidden Отзывы пользователей
						button.reviews__arrow(type="button" aria-label="Предыдущий отзыв")
							svg(width="22", height="41")
								use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-arrow-left")
						article.reviews__user-review.user-review
							h3.visually-hidden Отзыв пользователя
							blockquote.user-review__quote
								div.user-review__user
									cite.user-review__user-name Николай Петров
									span.user-review__user-description 25 лет, водитель трамвая
								p.user-review__text Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
						div.reviews__slider
							div.slider
								span.slider__item
								span.slider__item.slider__item--checked
								span.slider__item
						button.reviews__arrow(type="button" aria-label="Следующий отзыв")
							svg(width="22", height="41")
								use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#icon-arrow-right")
			section.price
				div.price__inner
					h2.visually-hidden Прайс-лист
					include ../blocks/price-table/price-table.pug
					div.price__slider
						include ../blocks/slider/slider.pug
			section.contacts
				div.container
					div.contacts__inner
						h2.visually-hidden Контакты
						p.contacts__title Остались вопросы? Свяжитесь с нами!
						div.contacts__group
							address.contacts__group-item
								span.contacts__item-title Звоните
								a.contacts__link(href="tel:+7(999)999-99-99") +7 (999) 999-99-99
							address.contacts__group-item.contacts__group-item--email
								span.contacts__item-title Пишите:
								a.contacts__link.contacts__link--email(href="mailto:example@example.ru") example@example.com
							address.contacts__group-item
								span.contacts__item-title Приезжайте в гости:
								a.contacts__link(href="#") ул. Большая Конюшенная, 19/8
				div.contacts__map
					div.contacts__map-inner
						img.contacts__map-image(src="blocks/contacts/img/map.jpg" width="1422" height="746" alt="Наш адрес")
						iframe.contacts__map-frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003165!2d30.320858716173472!3d59.938719169054075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1613679186850!5m2!1sru!2sru" width="1200" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

		footer.page__footer.main-footer.container
			div.main-footer__inner
				div.main-footer__logo
					include ../blocks/footer-logo/footer-logo.pug

				include ../blocks/social/social.pug
				
				include ../blocks/copyright/copyright.pug

		script(src="scripts/scripts.js", type="module")