doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		//- OPEN GRAPH ДЛЯ СОЦСЕТЕЙ
		include ../blocks/opengraph/opengraph.pug
		title Конкурс
		link(rel="icon" href="#" type="image/png" sizes="32x32")
		link(rel="stylesheet" href="style.css")

	body.page-contest.page
		include ../blocks/svg/svg.pug

		header.page-contest__header.main-header
			div.main-header__nav
				div.container
					div.main-header__nav-inner
						div.main-header__logo
							include ../blocks/header-logo/header-logo.pug
						div.main-header__button
							include ../blocks/button-burger/button-burger.pug
						div.main-header__menu
							nav.main-menu
								ul.main-menu__list
									li.main-menu__item
										a.main-menu__link(href="index.html") Главная
									li.main-menu__item
										a.main-menu__link(href="page-photo.html") Фотографии
									li.main-menu__item
										a.main-menu__link(href="#") Конкурс
									li.main-menu__item
										a.main-menu__link(href="") О нас
			div.page-contest__promo
				div.container
					h1.page-contest__promo-title Конкурс на самое безбашенное путешествие с Пинк

		main.page-contest__main
			div.container
				p.page-contest__main-title Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
			form.form(action="#" method="post")
				fieldset.fieldset.fieldset--user-name
					legend.form__legend.visually-hidden(aria-label="ФИО")
					div.container
						ul.form__input-list.form__input-list--user-name
							li.form__input-text
								label.form__input-text-label.form__label--user-name(for="input-surname") Фамилия:
								input.input-text.input-text--user-name(type="text" id="input-surname" placeholder="Укажите фамилию *")
							li.form__input-text
								label.form__input-text-label.form__label--user-name(for="input-name") Имя:
								input.input-text.input-text--user-name(type="text" id="input-name" placeholder="Введите ваше имя *")
							li.form__input-text
								label.form__input-text-label.form__label--user-name(for="input-middle-name") Отчество:
								input.input-text.input-text--user-name(type="text" id="input-middle-name" placeholder="Ну и отчество тоже")

				fieldset.fieldset.fieldset--achievements
					legend.form__legend Ваши безбашенные достижения в путешествии
					div.container
						ul.form__input-list.form__input-list--achievements
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-selfie" name="selfie-with-shark" checked)
								label.form__checkbox-label(for="checkbox-selfie") Сделал селфи с акулой
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-burned" name="burned-on-the-beach" checked)
								label.form__checkbox-label(for="checkbox-burned") Обгорел на пляже
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-norris" name="see-Chuck-Norris")
								label.form__checkbox-label(for="checkbox-norris") Видел Чака Норриса
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-souvenirs" name="buy-souvenirs")
								label.form__checkbox-label(for="checkbox-souvenirs") Накупил сувениров
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-tower" name="held-tower" checked)
								label.form__checkbox-label(for="checkbox-tower") Удержал башню
							li.form__checkbox
								input.checkbox(type="checkbox" id="checkbox-hotel" name="smash-hotel")
								label.form__checkbox-label(for="checkbox-hotel") Разгромил отель

				fieldset.fieldset.fieldset--contacts
					legend.form__legend.form__legend--contacts(aria-label="Контактная информация") Контактная информация
					div.container
						ul.form__input-list.form__input-list--contacts
							li.form__input-text.form__input-text--contacts
								label.form__input-text-label.form__label--contacts(for="input-tel") Номер телефона
								input.input-text.input-text--tel(type="tel" id="input-tel" placeholder="Номер, пожалуйста")
							li.form__input-text.form__input-text--contacts
								label.form__input-text-label.form__label--contacts(for="input-email") Адрес почты
								input.input-text.input-text--email(type="email" id="input-email" placeholder="Введите почту *")

				fieldset.fieldset.fieldset--app
					legend.form__legend С каким приложением путешествовали?
					div.container
						ul.form__input-list.form__input-list--app
							li.form__radio
								input.radio(type="radio" id="radio-ios" name="radio-app" checked)
								label.form__radio-label(for="radio-ios") Pink для iOS
							li.form__radio
								input.radio(type="radio" id="radio-android" name="radio-app")
								label.form__radio-label(for="radio-android") Pink для Android
							li.form__radio
								input.radio(type="radio" id="radio-winphone" name="radio-app")
								label.form__radio-label(for="radio-winphone") Windows Phone

				fieldset.fieldset.fieldset--textarea
					legend.form__legend.form__legend--textarea Опишите свои эмоции
					div.container
						div.form__textarea
							textarea.form__textarea-input.textarea(id="textarea" placeholder="Можно прям в красках, не стесняясь в выражениях" aria-label="Текстовое поле ввода")

				div.form__button-group.container
					button.form__button.button.button--form(type="submit") Отправить форму
					p.form__subtitle
						span.form__subtitle-remark &midast;&nbsp;
						span.form__subtitle-text — обязательные поля

		footer.main-footer.container
			div.main-footer__inner
				div.main-footer__logo
					include ../blocks/footer-logo/footer-logo.pug
				div.main-footer__social
					include ../blocks/social/social.pug
				div.main-footer__copyright
					include ../blocks/copyright/copyright.pug

		script(src="scripts/scripts.js", type="module")