doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		//- OPEN GRAPH ДЛЯ СОЦСЕТЕЙ
		include ../blocks/opengraph/opengraph.pug
		title Фотографии
		link(rel="icon" href="#" type="image/png" sizes="32x32")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="style.css")

	body.page.page-photo
		include ../blocks/svg/svg.pug

		header.page-photo__header.main-header
			div.main-header__nav
				div.container
					div.main-header__nav-inner
						div.main-header__logo
							a.logo.logo--header.logo--header-mobile(href="index.html") Логотип для смартфонов
								svg(width="75" height="22")
									use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-mobile")
							a.logo.logo--header.logo--header-tablet(href="index.html") Логотип для планшетов
								svg(width="148" height="40")
									use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-tablet")
							a.logo.logo--header.logo--header-desktop(href="index.html") Логотип для компьютеров
								svg(width="148" height="40")
									use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-desktop")
						div.main-header__button
							include ../blocks/button-burger/button-burger.pug
						div.main-header__menu
							nav.main-menu
								ul.main-menu__list
									li.main-menu__item
										a.main-menu__link(href="index.html") Главная
									li.main-menu__item
										a.main-menu__link(href="#") Фотографии
									li.main-menu__item
										a.main-menu__link(href="page-contest.html") Конкурс
									li.main-menu__item
										a.main-menu__link(href="") О нас
			div.page-photo__promo.container
				div.page-photo__promo-inner
					h1.page-photo__promo-title Фотографии пользователей

		main.page-photo__main
			div.container
				p.page-photo__title Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

			section.page-photo__posts
				h2.visually-hidden Посты пользователей
				article.page-photo__special.user-post
					h3.visually-hidden Пост пользователя
					img.page-photo__special-photo.user-post__photo(src="blocks/user-post/img/user-photos/panorama.jpg" width="1200" height="506" alt="Панорама с моста в горах")
					div.container
						div.user-post__inner
							div.user-post__user
								span.user-post__user-name Анна&nbsp;
								span.user-post__time (5 минут назад)
							p.user-post__text Прыгать или нет? Напишите в коментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
							p.page-photo__special-like.user-post__like
								button.user-post__like-button.button-like Кнопка «Лайк»
									include ../blocks/button-like/button-like.pug
								span.user-post__like-text Нравится:&nbsp;
								span.user-post__like-count 215

				div.container
					div.page-photo__posts-group
						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo1.jpg" width="300" height="400" alt="Фотоаппарат фотографирующий автомобиль")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Левон&nbsp;
									span.user-post__time (5 часов назад)
									p.user-post__text Вчера он на луну летал, сегодня в руки к нам попал.
									p.user-post__like
										button.user-post__like-button.button-like Кнопка «Лайк»
											include ../blocks/button-like/button-like.pug
										span.user-post__like-text Нравится:&nbsp;
										span.user-post__like-count 356

						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo2.jpg" width="300" height="400" alt="Барабанная установка")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Антон&nbsp;
									span.user-post__time (12 часов назад)
								p.user-post__text Соседи будут рады!
								p.user-post__like
									button.user-post__like-button.button-like Кнопка «Лайк»
										include ../blocks/button-like/button-like.pug
									span.user-post__like-text Нравится:&nbsp;
									span.user-post__like-count 666

						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo3.jpg" width="300" height="400" alt="Прозрачная стеклянная крыша")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Борис&nbsp;
									span.user-post__time (20 часов назад)
								p.user-post__text Здесь могла быть ваша цитата о высоком и вечном.
								p.user-post__like
									button.user-post__like-button.button-like Кнопка «Лайк»
										include ../blocks/button-like/button-like.pug
									span.user-post__like-text Нравится:&nbsp;
									span.user-post__like-count 215

						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo4.jpg" width="300" height="400" alt="Рынок с бахчой")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Сергей&nbsp;
									span.user-post__time (25 часов назад)
								p.user-post__text Самая кубанская в мире!
								p.user-post__like
									button.user-post__like-button.button-like Кнопка «Лайк»
										include ../blocks/button-like/button-like.pug
									span.user-post__like-text Нравится:&nbsp;
									span.user-post__like-count 4

						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo5.jpg" width="300" height="400" alt="Мужчина на камне")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Максим&nbsp;
									span.user-post__time (40 часов назад)
								p.user-post__text Где снег-то?
								p.user-post__like
									button.user-post__like-button.button-like Кнопка «Лайк»
										include ../blocks/button-like/button-like.pug
									span.user-post__like-text Нравится:&nbsp;
									span.user-post__like-count 150

						article.user-post
							h3.visually-hidden Пост пользователя
							img.user-post__photo(src="blocks/user-post/img/user-photos/photo6.jpg" width="300" height="400" alt="Крыло самолета из иллюминатора")
							div.user-post__inner
								div.user-post__user
									span.user-post__user-name Надежда&nbsp;
									span.user-post__time (45 часов назад)
								p.user-post__text Всем GM и взаимные лайки!
								p.user-post__like
									button.user-post__like-button.button-like Кнопка «Лайк»
										include ../blocks/button-like/button-like.pug
									span.user-post__like-text Нравится:&nbsp;
									span.user-post__like-count 2560

					div.page-photo__subtitle
						p.page-photo__subtitle-row Затмите их всех!
						p.page-photo__subtitle-row Выкладывайте все, что накопилось в телефоне!

			section.page-photo__editor
				h2.visually-hidden Редактор фотографий
				div.container
					div.editor
						div.editor__inner
							img.editor__image(src="blocks/editor/img/editor.jpg" width="300" height="400" alt="Фотография для применения фильтра")
							div.editor__tools
								ul.editor__tools-list
									li.editor__tools-item
										button.editor__tools-button.editor__tools-button--crop Кнопка «Обрезать»
											include ../blocks/button-cut/button-cut.pug
										div.editor__tools-range.editor__tools-range-crop
											button.editor__range-button.editor__range-button-crop(type="button") Кнопка «Ползунок»
									li.editor__tools-item
										button.editor__tools-button Кнопка «Заливка»
											include ../blocks/button-fill/button-fill.pug
										div.editor__tools-range.editor__tools-range-fill
											button.editor__range-button.editor__range-button-fill(type="button") Кнопка «Ползунок»
									li.editor__tools-item
										button.editor__tools-button Кнопка «Контраст»
											include ../blocks/button-contrast/button-contrast.pug
										div.editor__tools-range.editor__tools-range-contrast
											button.editor__range-button.editor__range-button-contrast(type="button") Кнопка «Ползунок»
								div.editor__button-group
									button.editor__button.button.button--post(type="button") Запостить
									button.editor__button.button.button--cancel(type="button") Отмена

		footer.main-footer.container
			div.main-footer__inner
				div.main-footer__logo
					include ../blocks/footer-logo/footer-logo.pug
				div.main-footer__social
					include ../blocks/social/social.pug
				div.main-footer__copyright
					include ../blocks/copyright/copyright.pug

		script(src="scripts/scripts.js", type="module")