.download-list {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-end;

	list-style-type: none;

	&__item {
		margin-right: 35px;
		position: relative;

		font-size: 0;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__link {
		display: inline-block;

		outline-offset: 10px;
		outline-color: #ffffff;
		transition-property: opacity;
		transition-duration: @main-duration;
	}

	&__link::after {
		content: '';
		position: absolute;
		bottom: -15px;
		left: 50%;
		width: 0;
		height: 2px;

		background-color: #ffffff;

		transition-property: all;
		transition-duration: @main-duration;
	}

	&__link:hover::after {
		width: 100%;
		transform: translateX(-50%);
	}

	&__link:active {
		opacity: 0.3;
	}
}