.download-list {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-end;

	list-style-type: none;
}

.download-list__item {
	margin-right: 35px;

	font-size: 0;
}

.download-list__item:last-child {
	margin-right: 0;
}

.download-list__link {
	outline-offset: 10px;
	outline-color: transparent;
}