div.footer-logo
	a.footer-logo__tablet.logo(href='#') Логотип для планшетов
		svg(width='148' height='40')
			use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-pink-blue-mobile')

	a.footer-logo__desktop.logo(href='#') Логотип для компьютеров
		svg(width='148' height='40')
			use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-pink-blue-desktop')