.slider {
	min-height: 12px;
	display: flex;
	align-items: center;
}

.slider__item {
	margin-right: 19px;
	width: 6px;
	height: 6px;
	display: inline-block;

	border-radius: 50%;
	background-color: rgba(40, 54, 69, 0.3);
}

.slider__item:last-child {
	margin-right: 0;
}

.slider__item--checked {
	box-shadow: 0 0 0 3px @darkblue;
	background-color: #ffffff;
}