.header-logo {
	&__mobile,
	&__tablet,
	&__desktop {
		display: block;
		
		fill: #ffffff;
		outline-offset: 5px;
		outline-color: #ffffff;
	}

	&__tablet,
	&__desktop {
		display: none;
	}

	&__mobile:hover,
	&__mobile:focus,
	&__tablet:hover,
	&__tablet:focus,
	&__desktop:hover,
	&__desktop:focus {
		fill: @red;
	}

	&__mobile:active,
	&__tablet:active {
		fill: rgba(210, 40, 86, 0.3);
	}

	&__desktop:active {
		fill: rgba(255, 255, 255, 0.3);
	}
}

@media (min-width: @tablet-screen) {
	.header-logo {
		&__mobile {
			display: none;
		}

		&__tablet {
			display: block;
		}
	}
}

@media (min-width: @desktop-screen) {
	.header-logo {
		&__tablet {
			display: none;
		}

		&__desktop {
			display: block;
		}
	}
}