a.logo.logo--header.logo--header-mobile(href="#") Логотип для смартфонов
	svg(width="75" height="22")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-mobile")

a.logo.logo--header.logo--header-tablet(href="#") Логотип для планшетов
	svg(width="148" height="40")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-tablet")
			
a.logo.logo--header.logo--header-desktop(href="#") Логотип для компьютеров
	svg(width="148" height="40")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-pink-white-desktop")