div.page__footer
  footer.main-footer
    div.container
      div.main-footer__inner
        div.main-footer__logo
          div.main-footer__logo-tablet
            a.footer-logo-tablet.logo.logo--footer(href='#')
              svg(width='148' height='40')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-pink-blue-mobile')
          div.main-footer__logo-desktop
            a.footer-logo-desktop.logo.logo--footer(href='#')
              svg(width='148' height='40')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-pink-blue-desktop')
        div.main-footer__social
          include ../social/social.pug
        div.main-footer__copyright
          a.copyright(href='https://htmlacademy.ru')
            span.copyright__text Разработано
            svg.copyright__icon(width='42' height='49')
              use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#logo-htmlacademy')
