footer.main-footer
  div.container
    div.main-footer__inner
      div.main-footer__logo
        include ../footer-logo/footer-logo.pug
      div.main-footer__social
        include ../social/social.pug
      div.main-footer__copyright
        include ../copyright/copyright.pug
