.main-footer {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media @tablet {
	.main-footer {
		&__inner {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}