.main-footer {
	background-color: #ffffff;

	&__inner {
		min-height: 125px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__logo {
		margin-top: 35px;
	}

	&__logo-desktop {
		display: none;
	}

	&__social,
	&__copyright {
		align-self: center;
	}
}

@media (min-width: @desktop-screen) {
	.main-footer {
		&__inner {
			min-height: 195px;
		}

		&__logo {
			margin-top: 70px;
		}

		&__logo-tablet {
			display: none;
		}

		&__logo-desktop {
			display: block;
		}
	}
}