ul.download-list
	li.download-list__item
		a.download-list__link(href="https://www.apple.com/app-store" aria-label="Логотип Apple")
			svg(width="47", height="56")
				use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#apple-logo")
	li.download-list__item
		a.download-list__link(href="https://play.google.com/store" aria-label="Логотип Android")
			svg(width="43", height="47")
				use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#android-logo")
	li.download-list__item
		a.download-list__link(href="https://www.microsoft.com/ru-ru/store/apps/windows-phone" aria-label="Логотип Microsoft Windows")
			svg(width="44", height="41")
				use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#microsoft-logo")