ul.social
	li.social__item
		a.social__icon(href='https://twitter.com') Логотип Twitter
			include ../social/icons/twitter-logo.svg
	li.social__item
		a.social__icon(href='https://facebook.com') Логотип Facebook
			include ../social/icons/facebook-logo.svg
	li.social__item
		a.social__icon(href='https://www.youtube.com') Логотип Youtube
			include ../social/icons/youtube-logo.svg