.page-photo {
	background-color: #ffffff;

	&__main {
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 0;
		margin-bottom: 50px;
		padding: 0;
		max-width: 250px;

		font-size: 14px;
		line-height: 30px;
		text-align: center;
	}

	&__title-row {
		margin: 0;
		padding: 0;

		font-size: 14px;
		line-height: 30px;
		text-align: center;
	}

	&__user-post {
		margin-bottom: 25px;
	}

	&__user-comment {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		margin-bottom: 20px;
	}

	&__filter {
		width: 100%;
		background-color: #f2f2f2;
	}
}