.user-review {
	&__quote {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__user {
		margin-bottom: 25px;
	}

	&__user-name {
		display: block;

		font-size: 18px;
		font-weight: 700;
		font-style: normal;
		line-height: 30px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue; 
		}
	}

	&__user-description {
		display: none;

		font-size: 14px;
		line-height: 30px;

		&::selection {
			color: #ffffff;
			background-color: @darkblue; 
		}
	}

	&__text {
		margin: 0;
		padding: 0;

		font-size: 14px;
		line-height: 30px;
		text-align: center;

		&::selection {
			color: #ffffff;
			background-color: @darkblue; 
		}
	}
}

@media @tablet {
	.user-review {
		&__user {
			margin-bottom: 0;
			order: 1;
		}

		&__user-name {
			font-size: 20px;
		}

		&__user-description {
			display: block;
		}

		&__text {
			margin-bottom: 40px;
			font-size: 18px;
		}
	}
}

@media @desktop {
	.user-review {
		&__user-name {
			font-size: 24px;
		}

		&__user-description {
			font-size: 18px;
		}
	}
}