.user-review__quote {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-review__user {
	margin-bottom: 25px;
}

.user-review__user-name {
	display: block;

	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: 30px;
}

.user-review__user-description {
	display: none;
	
	font-size: 14px;
	line-height: 30px;
}

.user-review__text {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

.user-review__text::selection,
.user-review__user-name::selection,
.user-review__user-description::selection {
	color: #ffffff;

	background-color: #283645; 
}

@media (min-width: @tablet-screen) {
	.user-review__user {
		margin-bottom: 0;
		order: 1;
	}

	.user-review__user-name {
		font-size: 20px;
	}

	.user-review__user-description {
		display: block;
	}

	.user-review__text {
		margin-bottom: 40px;

		font-size: 18px;
	}
}

@media (min-width: @desktop-screen) {
	.user-review__user-name {
		font-size: 24px;
	}

	.user-review__user-description {
		font-size: 18px;
	}
}