article.user-review
	h3.visually-hidden Отзыв пользователя
	blockquote.user-review__quote
		div.user-review__user
			cite.user-review__user-name Николай Петров
			span.user-review__user-description 25 лет, водитель трамвая
		p.user-review__text Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»